<%= form_for @patient, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.text_field :folder_number, :class => 'mdl-textfield__input' %>
      <%= f.label :folder_number, :class => 'mdl-textfield__label' %>

  </div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.label :first_name, :class => 'mdl-textfield__label' %>

      <%= f.text_field :first_name, :class => 'mdl-textfield__input' %>

  </div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.label :last_name, :class => 'mdl-textfield__label' %>

      <%= f.text_field :last_name, :class => 'mdl-textfield__input' %>

  </div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.label :date_of_birth, :class => 'mdl-textfield__label' %>

      <%= f.text_field :date_of_birth, :class => 'date mdl-textfield__input' %>

  </div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">

    <%= f.label :gender, :class => 'mdl-textfield__label' %>

  <div style="padding-top: 5px;" class="col-md-5 col-md-offset-1">
    <%= f.select(:gender, options_for_select([['MALE','MALE'],['FEMALE','FEMALE']]),{required: 'true', autofocus: 'true', class: 'form-control'} )%>
</div>
  </div>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= f.label :address, :class => 'mdl-textfield__label' %>

      <%= f.text_field :address, :class => 'mdl-textfield__input' %>

  </div>
<br />
<br />
<br />
  <div style="text-align: center" class="col-md-12">
    <%= f.submit "Save & Procced", :class => 'mdl-button mdl-js-button mdl-button--raised mdl-button--colored' %>
</div>
<!--div style="text-align: center"  class="col-md-6">

      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  new_patient_path, :class => 'mdl-button mdl-js-button mdl-button--raised' %>

</div-->
<% end %>
